<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top {% if page.header-img %}intro-header-nav{% endif %}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ '/' | prepend: site.baseurl }}">Articles</a>
                </li>
                <li>
                    <a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
                </li>
                <li>
                    <a href="{{ '/bucket-list/' | prepend: site.baseurl }}">Bucket list</a>
                </li>
                <li>
                    <a href="{{ '/watchlist/movies-imdb-top250/' | prepend: site.baseurl }}">Watchlist</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
