<!-- Page Buttons -->
{% if page.download || page.github || page.demo %}
    <div class="page-buttons">
        <hr>
        {% if page.demo %}
            <a href="{{ page.demo }}" class="btn btn-primary">
                <i class="fa fa-eye"></i> Demo
            </a>
        {% endif %}
        {% if page.download %}
            <a href="{{ page.download }}" class="btn btn-primary">
                <i class="fa fa-download"></i> Download
            </a>
        {% endif %}
        {% if page.github %}
            <a href="{{ page.github }}" class="btn btn-success">
                <i class="fa fa-github"></i> Github
            </a>
        {% endif %}
        <hr>
    </div>
{% endif %}