{% if page.date or page.author or page.french or page.credits %}

<div class="article-meta">
	{% if page.date %}
		<span class="meta"><i class="fa fa-calendar"></i>&nbsp; {{ page.date | date: "%B %-d, %Y" }}</span><br />
	{% endif %}

	<span class="meta"><i class="fa fa-user"></i>&nbsp; By Julien Bourdeau</span><br />

	{% if page.french %}
		<span class="meta"><i class="fa fa-flag-checkered"></i>&nbsp; This article is also <a href="{{ page.french}}">available in French</a></span><br />
	{% endif %}

	{% if page.credits %}
		{% for c in page.credits %}
			<i class="fa fa-magic"></i> Photo by: <a href="{{ c.url }}">{{ c.name }}</a>
		{% endfor %}
	{% endif %}
</div>

{% endif %}
