/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-image: url($thm-img-path + "/bg-dots.png");
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Header
 */
.intro-header-nav.navbar-default .navbar-nav>li>a,
.intro-header .post-heading {
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 1)
}

.intro-header-nav.navbar-default .navbar-brand {
  color: white;
}
.intro-header-nav.navbar-default .navbar-brand:hover,
.intro-header-nav.navbar-default .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.8);
}
.intro-header-nav.navbar-default .navbar-nav>li>a {
  color: white;
}
.intro-header-nav.navbar-default .navbar-nav>li>a:hover,
.intro-header-nav.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 0.8);
}

.lite-header .post-heading {
  margin-top: 50px;
  padding:  1.5 * $spacing-unit 0;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.article-meta .fa {
    width: 20px;
    text-align: center;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ul.article-list {
    list-style-type: none;
    li {
        margin: 16px 0;
        font-size: 140%;
        i.fa {
            margin-right: 4px;
        }
        a {
            color: $text-color;
        }
        a:hover {
            color: $brand-color;
            text-decoration: none;
        }
    }
}

ul.external-article-list {
    margin-left: 0;
    li {
        margin: 8px 0;
        font-size: 120%;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1.qna {
    text-align: center;
}
h1.qna,
h2 {
    margin-top: 54px;
}
h3 {
    margin-top: 38px;
}
h4 {
    margin-top: 21px;
}

/**
 * Paragraphes
 */
p {
  line-height: 1.5;
  margin: 30px 0;
}

strong {
    font-family: $strong-font-family;
    font-weight: 500;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
    & img:hover,
    & img:focus {
        cursor: zoom-in;
    }
}
.page-nav {
    margin: 42px 0;
}
.pager {
    margin: 20px 0;
    li>a, li>a:hover, .pager li>span {
        color: inherit;
        background: transparent !important;
        border: none;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Footer
 */
footer#footer {
    margin-top: 54px;
    border-top: 1px solid $grey-color-light;
    a {
        color: $text-color;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Comments
 */
#disqus_thread {
    margin-top: 21px;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.page-buttons {
    margin: 21px 0;
    text-align: center;
    a {
        margin: 16px 0;
    }
}

.thumbnail {
  background: transparent;
  border: none;
  .caption {
    padding: 0 18px;
  }
  ul, h4 {
    text-align: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  &.watched {
    opacity: 0.4;
  }
}
