/* =Fonts
-------------------------------------------------------------- */

@mixin font-face($font-name, $weight, $style, $file, $extra:"") {
    $filepath: $thm-fonts-path + "/" + $file;
    @font-face {
        font-family: "#{$font-name}";
        src: url($filepath + ".ttf")  format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

// @include font-face('Roboto', 100, 'italic', 'roboto/Roboto-ThinItalic');
// @include font-face('Roboto', 100, 'normal', 'roboto/Roboto-Thin');
@include font-face('Roboto', 300, 'italic', 'roboto/Roboto-LightItalic');
@include font-face('Roboto', 300, 'normal', 'roboto/Roboto-Light');
@include font-face('Roboto', 400, 'italic', 'roboto/Roboto-Italic');
@include font-face('Roboto', 400, 'normal', 'roboto/Roboto-Regular');
@include font-face('Roboto', 500, 'italic', 'roboto/Roboto-BoldItalic');
@include font-face('Roboto', 500, 'normal', 'roboto/Roboto-Bold');
// @include font-face('Roboto', 700, 'italic', 'roboto/Roboto-BlackItalic');
// @include font-face('Roboto', 700, 'normal', 'roboto/Roboto-Black');
