---
layout: page
title: Articles
description: "Thoughts. Snippets. Life."
permalink: /articles/
---

{% for year in site.years %}
    <h2>{{ year.first.first.date | date: "%Y" }}</h2>
    {% for month in year %}
        {% for post in month %}
            <ul>         
                <li>
                    {% if post.layout == 'post' %}
                        <span class="label label-success">Article</span>
                    {% else %}
                        <span class="label label-warning">Q & A</span>
                    {% endif %}
                    <a href="{{ post.url}}">{{ post.title }}</a>
                </li>
            </ul>
        {% endfor %}
    {% endfor %}
{% endfor %}