---
layout: page
title: Articles
permalink: /articles/
---

{% for year in site.years %}
    <h2>{{ year.first.first.date | date: "%Y" }}</h2>
    {% for month in year %}
        <ul class="article-list">
            {% for post in month %}
                <li>
                    {% if post.icon %}
                        <i class="fa {{ post.icon }}"></i>
                    {% else %}
                        {% if post.layout == 'post' %}
                            <i class="fa fa-coffee"></i>
                        {% else %}
                            <i class="fa fa-life-ring"></i>
                        {% endif %}
                    {% endif %}

                    <a href="{{ post.url}}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}